* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
  height: 100vh;
  background: linear-gradient(141.39deg, #4dffff 13.88%, #00a3cc 106.32%);
}

.deck {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 2px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  font-size: 42px;
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 3px 0px 0px;
}

#expression {
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid 1px #4d2600;
  font-size: 18px;
  text-align: end;
  background-color: black;
  width: 100%;
  color: orange;
  font-weight: bold;
  padding: 0px 3px 0px 0px;
}

#expression::placeholder {
  color: orange;
}

#answer {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  cursor: pointer;
  border: none;
  margin: 2px;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  background: rgba(153, 231, 255, 0.7);
}

.button:hover {
  background: rgba(204, 243, 255, 1);
  transition: 0.3s;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: -1;
  grid-row-end: -3;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
